<div class="container">
  <div class="slogan">
    <div class="slogan__line">Life is painting a picture</div>
    <div class="slogan__line">
      not doing a sum
      <span style="color: rgb(63, 255, 5);">.</span>
    </div>
    <div class="sub-slogan">
      There's only one corner of the universe you can be sure of improving, and that's your own self.
    </div>
  </div>
  <div id="canvas-render"></div>
  <script src="./vertexshader.shader" type="x-shader/x-vertex" id="vertexshader">
    attribute float scale;
    attribute vec4 color;

    varying vec4 vColor;

    void main() {
      vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

      vColor = color;
      gl_PointSize = scale * ( 200.0 / - mvPosition.z );
      gl_Position = projectionMatrix * mvPosition;
    }
  </script>
  <script type="x-shader/x-fragment" id="fragmentshader">
    varying vec4 vColor;

    void main() {
      if ( length( gl_PointCoord - vec2( 0.5, 0.5 ) ) > 0.5 ) discard;
      gl_FragColor = vColor;
    }
  </script>
</div>
